@import '../../scss/mixin.scss';
@import '../../scss/variable.scss';

.container {
  max-width: clamp(25vw, 25vw, 40rem);
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  cursor: pointer;
  transition: ease-in 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
  }

  &_description {
    padding: 1rem 1.5rem 2rem;

    &_title {
      @include font(bold, $font-subtitle-size);
      padding-bottom: 0.5rem;
      color: #cf2626;
    }

    &_text {
      color: rgb(110, 110, 110);
      @include font(400, $font-default-size);
      padding-bottom: 2rem;
    }
  }
}

@media (max-width: 1224px) {
  .container {
    max-width: 25rem;
  }
}
