.swiper-button-prev::after {
  transition: ease-in 0.3s;
  color: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
}

.swiper-button-next::after {
  transition: ease-in 0.3s;
  color: rgba(255, 255, 255, 0.55);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
}

/* .swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: rgba(255, 0, 0, 0.35);
} */

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  width: 60px !important;
  height: 60px !important;
  background: rgba(0, 0, 0, 0.35) !important;
  border-radius: 50%;
}
