.wrapper {
  max-width: 100vw;
  width: 100vw;
  position: relative;
  height: fit-content;

  a,
  a:focus,
  a:active {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
  }

  img {
    object-fit: cover;

    @media (max-width: 1224px) {
      height: 40vw;
    }
  }
}

.soloImage {
  width: 100%;
  height: fit-content;
  object-fit: cover;

  @media (max-width: 1224px) {
    height: 50vw;
  }
}
