@import '../src/pages/CarDetailsPage/customArrows.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --font-title-size: 28px;
  --font-default-size: 22px;
}

@font-face {
  font-family: "Alibaba PuHuiTi 2.0 35 Thin Regular";
  src: url("https://drive.google.com/file/d/12y2zAqEAPRoy34EOwmyd_gX1UHOTkrMJ/view") format("truetype");
  font-display: swap;
}

body {
  overflow-x: hidden;
  font-family: "Alibaba PuHuiTi 2.0 35 Thin Regular";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fefefe;
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    height: 100%;
  }
}

p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
