@import "../src/pages/CarDetailsPage/customArrows.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --font-title-size: 28px;
  --font-default-size: 22px;
}

@font-face {
  font-family: "Alibaba PuHuiTi 2.0 55 Regular";
  src: url("https://db.onlinewebfonts.com/t/70e85e06a6ea3fbd5e4030df68874fff.eot");
  src:
    url("https://db.onlinewebfonts.com/t/70e85e06a6ea3fbd5e4030df68874fff.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/70e85e06a6ea3fbd5e4030df68874fff.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/70e85e06a6ea3fbd5e4030df68874fff.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/70e85e06a6ea3fbd5e4030df68874fff.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/70e85e06a6ea3fbd5e4030df68874fff.svg#Alibaba PuHuiTi 2.0 55 Regular")
      format("svg");
  font-display: swap;
}

body {
  overflow-x: hidden;
  font-family: "Alibaba PuHuiTi 2.0 55 Regular";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fefefe;
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    height: 100%;
  }
}

p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
